body{
color:white;
background:black;
margin:0px;

}
header{
    border: solid 2px white;
padding: 20px;
font-size: 32px;
color: rgb(30, 156, 156);

}
section{
    background:rgb(27, 26, 26)  ;
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content:center;
}

.chamada-texto{
margin-right: 5%px;

}
h1{
    font: size 40px;
}
p{
    font-size: 20px;
}

img{
    height: 200px;
    
}